<table>
  <tr>
    <th>User</th>
    <th>Provider</th>
    <th>OAuth Token</th>
    <th>OAuth Secret</th>
  </tr>
  <% for authentication in @authentications %>
    <tr>
      <td><%= authentication.user_id %></td>
      <td><%= authentication.provider %></td>
      <td><%= authentication.oauth_token %></td>
      <td><%= authentication.oauth_token_secret %></td>
      <td><%= link_to "Destroy", authentication, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

