.container-fluid
  .row-fluid#selector-container
    .span3
      %select.selectpicker
        %option
          No sort
        %option
          Alphabetical
        %option
          Recent Contact
    .span3.form-inline
      %input.input-medium#search-bar{type:"text", autocomplete:"off", placeholder:"Filter by tags", autofocus: true}
      %button.btn#search-button
        Filter
    .span6
      %ul.nav.nav-pills.tags#search-tags
  .hero-unit.thick-shadow#none
    %h1
      No contacts found for these filters
  #contact-grid

%script#card-template{type:"text/template"}
  .top-card.thick-shadow
    .small-detail
      .card-pic{style:"background-image: url('{{picture}}')"}
        %p.card-name
          {{name}}
    .medium-detail{style:"{[if(type=='small-card') { ]} display:none {[}]}"}
      .blue-bar
      %a.name{href:"contacts/{{user_id}}"}
        {{name}}
      .card-buttons
        .card-buttons-row
          %a.btn.btn-mini.card-button{href: "contacts/{{user_id}}/\#twitter"}
            = image_tag "twitter_favicon.png", class: "card-button-icons"
            Tweet
          %a.btn.btn-mini.card-button{href: "contacts/{{user_id}}/\#phone"}
            = image_tag "phone.png", class: "card-button-icons"
            Call
          %a.btn.btn-mini.card-button{href: "contacts/{{user_id}}/\#facebook"}
            = image_tag "facebook_favicon.png", class: "card-button-icons"
            Post
        .card-buttons-row
          %a.btn.btn-mini.card-button{href: "contacts/{{user_id}}/\#linkedin"}
            = image_tag "linkedin_favicon.png", class: "card-button-icons"
            Message
          %a.btn.btn-mini.card-button{href: "contacts/{{user_id}}/\#calendar"}
            = image_tag "calendar_favicon.png", class: "card-button-icons"
            Invite
          %a.btn.btn-mini.card-button{href: "contacts/{{user_id}}/\#gmail"}
            = image_tag "gmail_favicon.png", class: "card-button-icons"
            Email
  .large-detail.thin-shadow{style:"{[if(type!='large-card') { ]} display:none {[}]}"}

%script#history-item-template{type:"text/template"}
  %a{href: "contacts/{{user_id}}/\#{{type}}/history{{id}}"}
    =image_tag "{{icon}}", class: "history-icon"
    {{text}}