%script#card-template{type:"text/template"}
  .top-card.thick-shadow
    .small-detail
      .card-pic{style:"background-image: url('{{picture}}')"}
        %p.card-name
          {{name}}
    .medium-detail{style:"{[if(type=='small-card') { ]} display:none {[}]}"}
      .blue-bar
      %a.name{href:"show"}
        {{name}}
      .card-buttons
        .card-buttons-row
          %a.btn.btn-mini.card-button
            = image_tag "twitter_favicon.png", class: "card-button-icons"
            Tweet
          %a.btn.btn-mini.card-button
            = image_tag "phone.png", class: "card-button-icons"
            Call
          %a.btn.btn-mini.card-button
            = image_tag "facebook_favicon.png", class: "card-button-icons"
            Post
        .card-buttons-row
          %a.btn.btn-mini.card-button
            = image_tag "linkedin_favicon.png", class: "card-button-icons"
            Message
          %a.btn.btn-mini.card-button
            = image_tag "calendar_favicon.png", class: "card-button-icons"
            Invite
          %a.btn.btn-mini.card-button
            = image_tag "gmail_favicon.png", class: "card-button-icons"
            Email
  .large-detail.thin-shadow{style:"{[if(type!='large-card') { ]} display:none {[}]}"}

%script#history-item-template{type:"text/template"}
  = image_tag "{{icon}}", class: "history-icon"
  {{text}}

.container-fluid
  .row-fluid#selector-container
    .span3.form-inline
      %input.input-medium#search-bar{type:"text", autocomplete:"off", placeholder:"Filter by tags", autofocus: true}
      %button.btn#search-button
        Filter
    .span9
      %ul.nav.nav-pills.tags#search-tags
  .hero-unit.thick-shadow#none
    %h1
      No contacts found for these filters
  #contact-grid
    / .contact-card.small-card.beta
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=ryanmlau&size=reasonably_small')"}
    /         %p.card-name
    /           Ryan Lau
    /     .medium-detail{style:"display:none"}
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Ryan Lau
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow{style:"display:none"}
    /     .history-item.history-item-grid
    /       = image_tag "twitter.png", class: "history-icon"
    /       Just found out about an awesome new fashion service! Check it out bit.ly/hsi32k
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Beta Invitation Request for Threadstop
    /     .history-item.history-item-grid
    /       = image_tag "twitter.png" , class: "history-icon"
    /       Anyone have good suggestions of where to buy summer clothes?
    / .contact-card.small-card.advisor
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=heinzmarketing&size=reasonably_small')"}
    /         %p.card-name
    /           Matt Heinz
    /     .medium-detail{style:"display:none"}
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Matt Heinz
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow{style:"display:none"}
    /     .history-item.history-item-grid
    /       = image_tag "twitter.png", class: "history-icon"
    /       Just found out about an awesome new fashion service! Check it out bit.ly/hsi32k
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Beta Invitation Request for Threadstop
    /     .history-item.history-item-grid
    /       = image_tag "twitter.png" , class: "history-icon"
    /       Anyone have good suggestions of where to buy summer clothes?
    / .contact-card.small-card.beta
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=ducidni&size=reasonably_small')"}
    /         %p.card-name
    /           Scott Mescudi
    /     .medium-detail{style:"display:none"}
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Scott Mescudi
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow{style:"display:none"}
    /     .history-item.history-item-grid
    /       = image_tag "twitter.png", class: "history-icon"
    /       Just found out about an awesome new fashion service! Check it out bit.ly/hsi32k
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Beta Invitation Request for Threadstop
    /     .history-item.history-item-grid
    /       = image_tag "twitter.png" , class: "history-icon"
    /       Anyone have good suggestions of where to buy summer clothes?
    / .contact-card.small-card.investor
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=dharmesh&size=reasonably_small')"}
    /         %p.card-name
    /           Dharmesh Shah
    /     .medium-detail{style:"display:none"}
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Dharmesh Shah
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow{style:"display:none"}
    /     .history-item.history-item-grid
    /       = image_tag "twitter.png", class: "history-icon"
    /       Just found out about an awesome new fashion service! Check it out bit.ly/hsi32k
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Beta Invitation Request for Threadstop
    /     .history-item.history-item-grid
    /       = image_tag "twitter.png" , class: "history-icon"
    /       Anyone have good suggestions of where to buy summer clothes?
    / .contact-card.small-card.advisor
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=mattdyor&size=reasonably_small')"}
    /         %p.card-name
    /           Matt Dyor
    /     .medium-detail{style:"display:none"}
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Matt Dyor
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow{style:"display:none"}
    /     .history-item.history-item-grid
    /       = image_tag "twitter.png", class: "history-icon"
    /       Just found out about an awesome new fashion service! Check it out bit.ly/hsi32k
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Beta Invitation Request for Threadstop
    /     .history-item.history-item-grid
    /       = image_tag "twitter.png" , class: "history-icon"
    /       Anyone have good suggestions of where to buy summer clothes?
    / .contact-card.small-card.reporter
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=timlmoody&size=reasonably_small')"}
    /         %p.card-name
    /           Tim Moody
    /     .medium-detail{style:"display:none"}
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Tim Moody
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow{style:"display:none"}
    /     .history-item.history-item-grid
    /       = image_tag "twitter.png", class: "history-icon"
    /       Just found out about an awesome new fashion service! Check it out bit.ly/hsi32k
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Beta Invitation Request for Threadstop
    /     .history-item.history-item-grid
    /       = image_tag "twitter.png" , class: "history-icon"
    /       Anyone have good suggestions of where to buy summer clothes?
    / .contact-card.medium-card.reporter
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=mitdelian&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           Delian Asparouhov
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Delian Asparouhov
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow{style:"display:none"}
    /     .history-item.history-item-grid
    /       = image_tag "phone.png" , class: "history-icon"
    /       Call on 04/10/13: 47 minutes
    /     .history-item.history-item-grid
    /       = image_tag "calendar.png", class: "history-icon"
    /       Interview on 04/03/13
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Request for an interview with the founder of Threadstop
    / .contact-card.medium-card.beta
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=azizansari&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           Aziz Ansari
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Aziz Ansari
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow{style:"display:none"}
    /     .history-item.history-item-grid
    /       = image_tag "phone.png" , class: "history-icon"
    /       Call on 04/10/13: 47 minutes
    /     .history-item.history-item-grid
    /       = image_tag "calendar.png", class: "history-icon"
    /       Interview on 04/03/13
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Request for an interview with the founder of Threadstop
    / .contact-card.medium-card.investor
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=paulg&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           Paul Graham
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Paul Graham
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow{style:"display:none"}
    /     .history-item.history-item-grid
    /       = image_tag "phone.png" , class: "history-icon"
    /       Call on 04/10/13: 47 minutes
    /     .history-item.history-item-grid
    /       = image_tag "calendar.png", class: "history-icon"
    /       Interview on 04/03/13
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Request for an interview with the founder of Threadstop
    / .contact-card.medium-card.reporter
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=jonfroehlich&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           Jon Froehlich
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Jon Froehlich
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow{style:"display:none"}
    /     .history-item.history-item-grid
    /       = image_tag "phone.png" , class: "history-icon"
    /       Call on 04/10/13: 47 minutes
    /     .history-item.history-item-grid
    /       = image_tag "calendar.png", class: "history-icon"
    /       Interview on 04/03/13
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Request for an interview with the founder of Threadstop
    / .contact-card.medium-card.reporter
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=fivethirtyeight&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           Nate Silver
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Nate Silver
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow{style:"display:none"}
    /     .history-item.history-item-grid
    /       = image_tag "phone.png" , class: "history-icon"
    /       Call on 04/10/13: 47 minutes
    /     .history-item.history-item-grid
    /       = image_tag "calendar.png", class: "history-icon"
    /       Interview on 04/03/13
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Request for an interview with the founder of Threadstop
    / .contact-card.medium-card.beta
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=therealbuzz&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           Buzz Aldrin
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Buzz Aldrin
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow{style:"display:none"}
    /     .history-item.history-item-grid
    /       = image_tag "phone.png" , class: "history-icon"
    /       Call on 04/10/13: 47 minutes
    /     .history-item.history-item-grid
    /       = image_tag "calendar.png", class: "history-icon"
    /       Interview on 04/03/13
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Request for an interview with the founder of Threadstop
    / .contact-card.medium-card.advisor
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=thescienceguy&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           Bill Nye
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Bill Nye
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow{style:"display:none"}
    /     .history-item.history-item-grid
    /       = image_tag "phone.png" , class: "history-icon"
    /       Call on 04/10/13: 47 minutes
    /     .history-item.history-item-grid
    /       = image_tag "calendar.png", class: "history-icon"
    /       Interview on 04/03/13
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Request for an interview with the founder of Threadstop
    / .contact-card.large-card.investor
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=akashbad&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           Akash Badshah
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Akash Badshah
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow
    /     .history-item.history-item-grid
    /       = image_tag "calendar.png", class: "history-icon"
    /       Meeting on 02/17/13: Go over terms
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Interested in investing in a fast paced startup?
    /     .history-item.history-item-grid
    /       = image_tag "phone.png" , class: "history-icon"
    /       Call on 03/20/13: 20 minutes
    / .contact-card.large-card.advisor
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=barackobama&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           Barack Obama
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Barack Obama
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow
    /     .history-item.history-item-grid
    /       = image_tag "calendar.png", class: "history-icon"
    /       Meeting on 02/17/13: Go over terms
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Interested in investing in a fast paced startup?
    /     .history-item.history-item-grid
    /       = image_tag "phone.png" , class: "history-icon"
    /       Call on 03/20/13: 20 minutes
    / .contact-card.large-card.beta
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=jeresig&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           John Resig
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         John Resig
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow
    /     .history-item.history-item-grid
    /       = image_tag "calendar.png", class: "history-icon"
    /       Meeting on 02/17/13: Go over terms
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Interested in investing in a fast paced startup?
    /     .history-item.history-item-grid
    /       = image_tag "phone.png" , class: "history-icon"
    /       Call on 03/20/13: 20 minutes
    / .contact-card.large-card.investor
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=bfeld&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           Brad Feld
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Brad Feld
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow
    /     .history-item.history-item-grid
    /       = image_tag "calendar.png", class: "history-icon"
    /       Meeting on 02/17/13: Go over terms
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Interested in investing in a fast paced startup?
    /     .history-item.history-item-grid
    /       = image_tag "phone.png" , class: "history-icon"
    /       Call on 03/20/13: 20 minutes
    / .contact-card.large-card.investor
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=peterthiel&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           Peter Thiel
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Peter Thiel
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow
    /     .history-item.history-item-grid
    /       = image_tag "calendar.png", class: "history-icon"
    /       Meeting on 02/17/13: Go over terms
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Interested in investing in a fast paced startup?
    /     .history-item.history-item-grid
    /       = image_tag "phone.png" , class: "history-icon"
    /       Call on 03/20/13: 20 minutes
    / .contact-card.large-card.reporter
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=reckless&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           Nilay Patel
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Nilay Patel
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow
    /     .history-item.history-item-grid
    /       = image_tag "calendar.png", class: "history-icon"
    /       Meeting on 02/17/13: Go over terms
    /     .history-item.history-item-grid
    /       = image_tag "gmail.png" , class: "history-icon"
    /       RE: Interested in investing in a fast paced startup?
    /     .history-item.history-item-grid
    /       = image_tag "phone.png" , class: "history-icon"
    /       Call on 03/20/13: 20 minutes
    / .contact-card.large-card.advisor
    /   .top-card.thick-shadow
    /     .small-detail
    /       .card-pic{style:"background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=viccypont&size=reasonably_small')"}
    /         %p.card-name{style:"display:none"}
    /           Victor Pontis
    /     .medium-detail
    /       .blue-bar
    /       %a.name{href:"show"}
    /         Victor Pontis
    /       .card-buttons
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "twitter_favicon.png", class: "card-button-icons"
    /             Tweet
    /           %a.btn.btn-mini.card-button
    /             = image_tag "phone.png", class: "card-button-icons"
    /             Call
    /           %a.btn.btn-mini.card-button
    /             = image_tag "facebook_favicon.png", class: "card-button-icons"
    /             Post
    /         .card-buttons-row
    /           %a.btn.btn-mini.card-button
    /             = image_tag "linkedin_favicon.png", class: "card-button-icons"
    /             Message
    /           %a.btn.btn-mini.card-button
    /             = image_tag "calendar_favicon.png", class: "card-button-icons"
    /             Invite
    /           %a.btn.btn-mini.card-button
    /             = image_tag "gmail_favicon.png", class: "card-button-icons"
    /             Email
    /   .large-detail.thin-shadow
    /     .history-item.history-item-grid
    /       = image_tag "twitter.png", class: "history-icon"
    /       RT: What if every teacher you had would have a .1% stake in your lifetime earnings qr.ae/TSXrE
    /     .history-item.history-item-grid
    /       = image_tag "facebook.png" , class: "history-icon"
    /       New article on how fashion and social media collide from Threadstop, love these guys!
    /     .history-item.history-item-grid
    /       = image_tag "linkedin.png" , class: "history-icon"
    /       Another favorite from a serial entrepreneur: Watsi (crowdfunding for surgical procedures)!


