.container-fluid.thick-shadow#engage
  .row-fluid#info-container
    .span2.prof-pic-container
      %img.prof-pic{src: @contact.picture}
    .span3
      .row
        %input#contact-name.name-input.span12{type: "text", value: @contact.full_name }
      .row
        %input.tags-input.span12{:type=>"text", :placeholder=>"Tags", autocomplete:"off", autofocus: "autofocus"}
      .row
        .span12
          %ul#tag-box.nav.nav-pills.tags
    .span4
      %h4
        Notes:
      %textarea#notes.notes-container{rows: "4"}
        Delian is a foolish human being, prone to droupouts and email hoaxes. Be careful with this one, he is indeed quite volatile. His upbringings in the Mormon land have left deep and lasting scars...
    .span3.contact-info
      .row
        .btn.btn-success#contact-save
          Save Contact Info
      .row.gmail
        .input-prepend.span12
          %span.add-on
            = image_tag "gmail_favicon.png", class: "card-button-icons"
          %input#contact-email.span10{type: "text", value: @contact.email}
      .row.twitter
        .input-prepend.span12
          %span.add-on
            = image_tag "twitter_favicon.png", class: "card-button-icons"
          %input#contact-twitter-handle.span10{type: "text", value: !@contact.twitter_handle.nil? ? "@" + @contact.twitter_handle.to_s : "No twitter handle found"}
  .row-fluid.interaction-container.thin-shadow
    .half-box
      .blue-bar
      %ul.top-bar.nav.nav-tabs#tabs
        %li.active
          %a.interaction-icon{href:"#twitter"}
            = image_tag "twitter.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#gmail"}
            = image_tag "gmail.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#calendar"}
            = image_tag "calendar.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#facebook"}
            = image_tag "facebook.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#linkedin"}
            = image_tag "linkedin.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#phone"}
            = image_tag "phone.png", class: "history-icon"
      .shadow-box
        .tab-content#interaction
          .alert-container#alert-success{style:"display:none;"}
            .alert.alert-success
              %a.close{"data-dismiss" =>"alert"}
                x
              %span#alert-message
                Success!
          .alert-container#alert-error{style:"display:none;"}
            .alert.alert-error
              %a.close{"data-dismiss" =>"alert"}
                x
              %span#alert-error-message
                Error
          .tab-pane.active#twitter.twitter
          .tab-pane#gmail.gmail
          .tab-pane#calendar
            .row
              .blue-bar.calendar-bar
              .calendar-coming
                .coming-soon-container
                  = image_tag "calendar-soon.png", class: "coming-soon-image"
                  .coming-soon-text
                    GCal Integration
                  %span.coming-soon-text
                    Coming Soon!
          .tab-pane#facebook
            .row
              .blue-bar.facebook-bar
              .facebook-coming
                .coming-soon-container
                  = image_tag "facebook-soon.png", class: "coming-soon-image"
                  .coming-soon-text
                    Facebook Integration
                  %span.coming-soon-text
                    Coming Soon!
          .tab-pane#linkedin
            .row
              .blue-bar.linkedin-bar
              .linkedin-coming
                .coming-soon-container
                  = image_tag "linkedin-soon.png", class: "coming-soon-image"
                  .coming-soon-text
                    Linkedin Integration
                  %span.coming-soon-text
                    Coming Soon!
          .tab-pane#phone
            .row
              .blue-bar.phone-bar
              .phone-coming
                .coming-soon-container
                  = image_tag "phone-soon.png", class: "coming-soon-image"
                  .coming-soon-text
                    Phone Integration
                  %span.coming-soon-text
                    Coming Soon!
      
    .half-box
      .blue-bar
      .top-bar
        %h3.history-title
          Engagement History
      .history#history-list

%script#tag-template{type:"text/template"}
  %li.active.tag{data:{tag:"{{tag}}"}}
    %a<
      {{tag}} 
      %button.close{type:"button", data:{tag:"{{tag}}", dismiss: "alert"}}>
        %i.icon-remove.icon-white

%script#history-item-template{type:"text/template"}
  %a{href: "\#{{type}}/history{{id}}"}
    =image_tag "{{icon}}", class: "history-icon"
    {{text}}
  {[if(!outgoing) {]}
  =image_tag "left_arrow_aqua.png", class: "outgoing-icon"
  {[} else {]}
  =image_tag "right_arrow_green.png", class: "outgoing-icon"
  {[}]}    

%script#twitter-oauth-template{type:"text/template"}
  .row
    .blue-bar.twitter-bar
    .twitter-signin-background
      .twitter-signin
        %h3 Connect your Twitter Account
        %h5 Engage with your contacts in more ways by signing in with Twitter!
        %a.twitter-signin-button{href:"/auth/twitter"}

%script#twitter-add-template{type:"text/template"}
  .row
    .blue-bar.twitter-bar
    .twitter-signin-background
      .twitter-signin
        %h3 Oops! We couldn't find that contact on twitter...
        %h5 If you know their handle add them here:
        %input.twitter-new-contact#add-twitter{type:"text", placeholder: "@someone"}
        %button.btn.twitter-new-contact-submit#add-twitter-button
          Add

%script#twitter-template{type:"text/template"}
  .row
    .blue-bar.twitter-bar
    .engage-header
      %h4
        {[if(typeof(interactionHistory) != 'undefined') {]}
        Reply to
        {[} else {]}
        Tweet to
        {[ } ]}
        %a{href:"http://twitter.com/@{{contact_handle}}"}
          @{{contact_handle}}
  {[if(typeof(interactionHistory) != 'undefined') {]}
  .row
    .offset2.span8.previous-tweet
      {{interactionHistory.text}}  
  .row.retweet-box
    .offset2.span5.clearfix
      =image_tag "https://api.twitter.com/1/users/profile_image?screen_name=@{{contact_handle}}&size=normal", class: "small-twitter-picture"
      .twitter-full-name
        {{contact_name}}
      .twitter-screen-name
        %a{href:"http://twitter.com/@{{contact_handle}}"}
          @{{contact_handle}}
    %button.btn.btn-success.span3#send-retweet
      Retweet 
  {[}]}
  .row.tweet-area
    %textarea.offset2.span8#twitter-input{rows:"5"}
      @{{contact_handle}}
  .row
    .offset2.span5.clearfix
      =image_tag "https://api.twitter.com/1/users/profile_image?screen_name=@{{user_handle}}&size=normal", class: "small-twitter-picture"
      .twitter-full-name
        {{user_name}}
        .twitter-screen-name
          %a{href:"http://twitter.com/@{{user_handle}}"}
            @{{user_handle}}
    .span1#char-remain
    %button.btn.btn-info.span2#send-tweet
      {[if(typeof(interactionHistory) != 'undefined') {]}
      Reply
      {[} else {]}
      Tweet
      {[ } ]}

%script#gmail-oauth-template{type:"text/template"}
  .row
    .blue-bar.gmail-bar
    .twitter-signin-background
      .twitter-signin
        %h3 Connect your Gmail Account
        %h5 Ryan please make this a real thing!
        %a.twitter-signin-button{href:"/auth/google_oauth2"}

%script#gmail-template{type:"text/template"}
  .row
    .blue-bar.gmail-bar
    .engage-header
      %h4
        {[if(typeof(interactionHistory) != 'undefined') {]}
        Mail from
        {[} else {]}
        Email
        {[ } ]}
        %a{href:"mailto:{{contact_email}}"}
          {{contact_email}}
  {[if(typeof(interactionHistory) != 'undefined') {]}
  #gmail-email-box
    .row
      .offset1.span10
        %h5
          {{interactionHistory.text}}
        .previous-email
          {{interactionHistory.deep_text}}
    .row
      %button.btn.btn-danger.offset9.span2#start-email-reply
        Reply
  {[}]}
  #gmail-reply-box
    .row
      .input-prepend.span10.offset1
        %span.add-on
          To
        %input#gmail-to.span10{type: "text", value: "{{contact_email}}", disabled: "disabled"}
    .row
      .input-prepend.span10.offset1
        %span.add-on
          Cc 
        %input#gmail-cc.span10{type: "text"}
    .row
      .input-prepend.span10.offset1
        %span.add-on
          From
        %input#gmail-from.span10{type: "text", value: "{{user_email}}", disabled: "disabled"}
    .row
      .input-prepend.span10.offset1
        %span.add-on
          Subject
        %input#gmail-subject.span10{type: "text"}
    .row
      %textarea.offset1.span10#gmail-input{rows: "8"} 
    .row
      {[if(typeof(interactionHistory) != 'undefined') {]}
      %button.btn.btn-warning.offset1.span4#back-email
        Back to Message
      %button.btn.btn-danger.offset4.span2#send-email
        Reply
      {[} else {]}
      %button.btn.btn-danger.offset9.span2#send-email
        Send
      {[}]}

