.container-fluid.thick-shadow
  .row.tags-row
    .tags-container.span4
      %input#tags-input{:type=>"text", :placeholder=>"Tags", autocomplete:"off"}
    .span4
      %ul.nav.nav-pills#tags
  .row#info-container-show
    .span2#prof-pic-container
      %img#prof-pic
    .span3
      %p
        Delian Asparouhov
        %br
        MIT Class of 2015
        %br
        Worked at Square
    .span3
      %p
        :plain
          <a href="https://twitter.com/mitdelian" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @MITDelian</a>
        %br
        2167 friends
        %br
        289 connections
    .span2
      %p
        Location: Salt Lake City
    .span2#location-container
      :plain
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=40.75,-111.8833&zoom=11&size=128x128&sensor=false">
  .row-fluid.interaction-container.thin-shadow
    .half-box
      .blue-bar
      %ul.top-bar.nav.nav-tabs#tabs
        %li.active
          %a.interaction-icon{href:"#calendar", data:{toggle: "tab"}}
            = image_tag "calendar.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#facebook", data:{toggle: "tab"}}
            = image_tag "facebook.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#gmail", data:{toggle: "tab"}}
            = image_tag "gmail.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#linkedin", data:{toggle: "tab"}}
            = image_tag "linkedin.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#phone", data:{toggle: "tab"}}
            = image_tag "phone.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#twitter", data:{toggle: "tab"}}
            = image_tag "twitter.png", class: "history-icon"
      .shadow-box
        .tab-content#interaction
          #alert-container
            .alert.alert-success
              %a.close{"data-dismiss" =>"alert"}
                x
              %span#alert-message
                Success!
          .tab-pane.active#calendar
            /This is here temporarily until I can figure out haml iframes
            <iframe src="https://www.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ryan.m.lau%40gmail.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" style=" border-width:0 " width="400" height="400" frameborder="0" scrolling="no"></iframe>
            / %iframe.calendar-iframe{src:"https://www.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ryan.m.lau%40gmail.com&amp;color=%23125A12&amp;ctz=America%2FNew_York"}
          .tab-pane#facebook
            .row
              .span12
            .row
              .span12
            .row
              %textarea#facebook-input.span8{rows:"6", placeholder:"Share on Delian's timeline..."}
            .row
              .button.btn.btn-primary.offset8.span2#facebook-post
                Post
          .tab-pane#gmail
            .gmail-container
              .row
                .span12
              .row
                .span12
              .row
                .offset2.span1
                  To:
                %input.span4.email-field#gmail-to{name: "gmail-to", type: "text", placeholder:"Add recipients"}
              .row
                .offset2.span1
                  Cc:
                %input.span4.email-field#gmail-cc{name: "gmail-cc", type: "text", placeholder:"Add recipients"}
              .row
                .offset2.span1
                  Bcc:
                %input.span4.email-field#gmail-bcc{name: "gmail-bcc", type: "text", placeholder:"Add recipients"}
              .row
                %textarea.offset2.span8#gmail-input{rows:"8", placeholder: "Message"}
              .row
                %button.btn.btn-primary.offset8.span2#send-email
                  Send
          .tab-pane#linkedin
            .row
              .span12
            .row
              .span12
            .row
              %textarea#linkedin-input.span8{rows:"6", placeholder:"Share an update..."}
            .row
              .button.btn.btn-primary.offset8.span2#linkedin-share
                Share
          .tab-pane#phone
            .row
              .span12
            .row
              .span12
            .row
              %h3 Select number to call
            .row
              %button.btn.span3.offset4
                (555) 555-5555
          .tab-pane#twitter
            .row
              .span12
            .row
              .span12
            .row
              %textarea.offset2.span8#twitter-input{rows:"3"}
            .row
              .offset7.span1#char-remain
              %button.btn.btn-primary.span2#send-tweet
                Tweet
                 
    .half-box
      .blue-bar
      .top-bar
        %h3.history-title
          Contact History
      .history
        .history-item.twitter-history
          = image_tag "twitter.png", class: "history-icon"
          RT: What if every teacher you had would have a .1% stake in your lifetime earnings qr.ae/TSXrE
        .history-item.facebook-history
          = image_tag "facebook.png" , class: "history-icon"
          Have you seen this awesome startup? They are giving away free stuff!
        .history-item.linkedin-history
          = image_tag "linkedin.png" , class: "history-icon"
          New favorite company! Watsi is helping people
        .history-item.gmail-history
          = image_tag "gmail.png", class: "history-icon"
          When are you expecting to roll out v2.0?
        .history-item.facebook-history
          = image_tag "facebook.png" , class: "history-icon"
          All star lineup!  Kobeeeee
        .history-item.calendar-history
          = image_tag "calendar.png" , class: "history-icon"
          Meeting Request: 10:00AM, Saturday March 19
        .history-item.phone-history
          = image_tag "phone.png", class: "history-icon"
          Call on 3/17/2013 at 5:03pm
        .history-item.twitter-history
          = image_tag "twitter.png" , class: "history-icon"
          Just acquired funding from Andreesen Horowitz!
        .history-item.gmail-history
          = image_tag "gmail.png" , class: "history-icon"
          I've been in contact with a number of VC's for series A
        .history-item.twitter-history
          = image_tag "twitter.png", class: "history-icon"
          What do you think of @MITDelian's project?
        .history-item.facebook-history
          = image_tag "facebook.png" , class: "history-icon"
          Have you seen this awesome startup? They are giving away free stuff!
        .history-item.linkedin-history
          = image_tag "linkedin.png" , class: "history-icon"
          New favorite company! Watsi is helping people
