.container-fluid.thick-shadow#engage
  .row-fluid.tags-row
    .tags-container.span4
      %input.tags-input{:type=>"text", :placeholder=>"Tags", autocomplete:"off", autofocus: "autofocus"}
    .span8
      %ul.nav.nav-pills.tags
        :plain
          <li class='active'><a>Reporter<button type='button' data-dismiss='alert' class='close'><i class="icon-remove icon-white"></i></button></a></li>
  .row-fluid#info-container
    .span2#prof-pic-container
      %img#prof-pic{src: @person["photos"].first["url"]}
    .span3
      %p
        %h3
          = @person["contactInfo"]["fullName"]
        %h4 MIT Class of 2015
        %h4 Worked at Square
    .span3#social-info
      %span.badge.badge-info
        340
      Twitter Followers
      %br
      %span.badge
        1889
      Facebook Friends
      %br
      %span.badge.badge-inverse
        45
      LinkedIn Connections
    .span2
      %p
        %h4 Location 
        Salt Lake City
    .span2#location-container
      :plain
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=40.75,-111.8833&zoom=11&size=128x128&sensor=false">
  .row-fluid.interaction-container.thin-shadow
    .half-box
      .blue-bar
      %ul.top-bar.nav.nav-tabs#tabs
        %li.active
          %a.interaction-icon{href:"#calendar"}
            = image_tag "calendar.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#facebook"}
            = image_tag "facebook.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#gmail"}
            = image_tag "gmail.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#linkedin"}
            = image_tag "linkedin.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#phone"}
            = image_tag "phone.png", class: "history-icon"
        %li
          %a.interaction-icon{href:"#twitter"}
            = image_tag "twitter.png", class: "history-icon"
      .shadow-box
        .tab-content#interaction
          #alert-container
            .alert.alert-success
              %a.close{"data-dismiss" =>"alert"}
                x
              %span#alert-message
                Success!
          .tab-pane.active#calendar
            /This is here temporarily until I can figure out haml iframes
            <iframe src="https://www.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ryan.m.lau%40gmail.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" style=" border-width:0 " width="400" height="400" frameborder="0" scrolling="no"></iframe>
            / %iframe.calendar-iframe{src:"https://www.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ryan.m.lau%40gmail.com&amp;color=%23125A12&amp;ctz=America%2FNew_York"}
          .tab-pane#facebook
            .row
              .span12
            .row
              .span12
            .row
              %textarea#facebook-input.span8{rows:"6", placeholder:"Share on Delian's timeline..."}
            .row
              .button.btn.btn-primary.offset8.span2#facebook-post
                Post
          .tab-pane#gmail
            .gmail-container
              .row
                .span12
              .row
                .span12
              .row
                .offset2.span1
                  To:
                %input.span4.email-field#gmail-to{name: "gmail-to", type: "text", placeholder:"Add recipients"}
              .row
                .offset2.span1
                  Cc:
                %input.span4.email-field#gmail-cc{name: "gmail-cc", type: "text", placeholder:"Add recipients"}
              .row
                .offset2.span1
                  Bcc:
                %input.span4.email-field#gmail-bcc{name: "gmail-bcc", type: "text", placeholder:"Add recipients"}
              .row
                %textarea.offset2.span8#gmail-input{rows:"8", placeholder: "Message"}
              .row
                %button.btn.btn-primary.offset8.span2#send-email
                  Send
          .tab-pane#linkedin
            .row
              .span12
            .row
              .span12
            .row
              %textarea#linkedin-input.span8{rows:"6", placeholder:"Share an update..."}
            .row
              .button.btn.btn-primary.offset8.span2#linkedin-share
                Share
          .tab-pane#phone
            .row
              .span12
            .row
              .span12
            .row
              %h3 Select number to call
            .row
              %button.btn.span4.offset4
                (555) 555-5555
          .tab-pane#twitter
      
    .half-box
      .blue-bar
      .top-bar
        %h3.history-title
          Contact History
      .history#history-list

%script#history-item-template{type:"text/template"}
  %a{href: "\#{{type}}/history{{id}}"}
    =image_tag "{{icon}}", class: "history-icon"
    {{text}}

%script#twitter-template{type:"text/template"}
  .row
    .span12
    .blue-bar.twitter-bar
    .twitter-header
      %h4
        {[if(typeof(interactionHistory) != 'undefined') {]}
        Reply to
        {[} else {]}
        Tweet to
        {[ } ]}
        %a{href:"http://twitter.com/{{contact_handle}}"}
          {{contact_handle}}
  {[if(typeof(interactionHistory) != 'undefined') {]}
  .row
    .offset2.span8.previous-tweet
      {{interactionHistory.text}}  
  .row.retweet-box
    .offset2.span5.clearfix
      =image_tag "https://api.twitter.com/1/users/profile_image?screen_name={{contact_handle}}&size=normal", class: "small-twitter-picture"
      .twitter-full-name
        {{contact_name}}
      .twitter-screen-name
        %a{href:"http://twitter.com/{{contact_handle}}"}
          {{contact_handle}}
    %button.btn.btn-success.span3#send-retweet
      Retweet 
  {[}]}
  .row.tweet-area
    %textarea.offset2.span8#twitter-input{rows:"5"}
      {{contact_handle}}
  .row
    .offset2.span5.clearfix
      =image_tag "https://api.twitter.com/1/users/profile_image?screen_name={{user_handle}}&size=normal", class: "small-twitter-picture"
      .twitter-full-name
        {{user_name}}
      .twitter-screen-name
        %a{href:"http://twitter.com/{{user_handle}}"}
          {{user_handle}}
    .span1#char-remain
    %button.btn.btn-info.span2#send-tweet
      {[if(typeof(interactionHistory) != 'undefined') {]}
      Reply
      {[} else {]}
      Tweet
      {[ } ]}