<!DOCTYPE HTML>
%html
  %head
  %title ContactLens
  = include_gon
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  :plain
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=268892693197272";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script src="//platform.linkedin.com/in.js" type="text/javascript">
     lang: en_US
    </script>
%body.main
.navbar
  .navbar-inner
    .nav-collapse.collapse
      %a.brand{:href=>"/"} ContactLens
      - if user_signed_in?
        %ul.nav.pull-left
          %li
            %a#addContact
              Add Contact
          %li
            = link_to('Grid', contacts_path, :method => :get)
        %ul.nav.pull-right
          %li
            = link_to('Settings', edit_user_registration_path, :method => :get)
          %li
            = link_to('Logout', destroy_user_session_path, :method => :delete)

#addModal.modal.hide.fade{data:{backdrop: "true", keyboard: "true", show: "false", remote: "/contacts/new"}}
  .modal-header
    %button.close{type:"button", data:{dismiss:"modal"}}×
    %h3
      Add Contact
    .modal-body

:javascript
  $(function(){
    $("#addContact").click(function(){
      $("#addModal").modal({
        backdrop: true,
        keyboard: true,
        show: true
      });
    });  
  })
          

= yield